<p>
<%= f.label :inverter_type %>
<br>
<%= f.text_field :inverter_type %>
</p>
<p>
<%= f.label :qty_of_inverter %>
<br>
<%= f.number_field :qty_of_inverter %>
</p>
<%= f.label :strings %>
<br>
<%= f.number_field :strings %>
</p>
  <%= f.label :avg_voltage_dc %>
<br>
<%= f.number_field :avg_voltage_dc %>
</p>
<%= f.label :ocpd %>
<br>
<%= f.text_field :ocpd %>
</p>

<%= f.label :load_center_size %>
<br>
<%= f.number_field :load_center_size %>
</p>
<%= f.label :lc_main_wire_gauge %>
<br>
<%= f.number_field :lc_main_wire_gauge %>
</p>

<%= f.label :kwh_total %>
<br>
<%= f.number_field :kwh_total %>
</p>

 