<h1>Listing commissioning_forms</h1>

     
      Job
      
    
<%= form_tag( commissioning_forms_path, method: :get ) do %>
<%= text_field_tag :search %>
<%= submit_tag "search" %>
<% end %>
  
<br>
<%= render :partial => 'pagination' %>
<br>

 <% if @commissioning_forms.empty? %>
 <p>No Matching Query </p>
 <% else %>
    <% @commissioning_forms.each do |commissioning_form| %>

      <br>
       <%= link_to 'Open', commissioning_form %>
      <%= commissioning_form.job %>
      
     
    
    <% end %>
<% end %>
<br>
<br>
<%= link_to 'New Commissioning form', form_setup_commissioning_forms_path %>
