<h1> New User </h1>

<%= form_for(@user) do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email%>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :password %>
	<%= f.password_field :password %>
</p>
 <p> Password Confirmation: <%= f.password_field :password_confirmation%> </p>
<p>
	<%= f.label :prosolar_password %>
	<%= text_field_tag :prosolar_password %>
</p>
<%= f.submit %>
<% end %>